* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --cluster-default-min-size: 25rem;
  --cluster-default-space: 1rem;
  --cluster-default-justify: flex-start;
  --cluster-default-align: flex-start;
}
